<div class="component-content" id="componentCheckbox">
  <div class="component-item">
    <h2 class="component-title">체크박스/라디오버튼</h2>
    <div class="component-body">
      <h3 class="component-sub-title">- 체크박스</h3>
      <ul class="component-sub-text"></ul>
      <div class="component-result">
        <div class="selector-wrapper">
          <div class="selector-cover checkbox">
            <label class="label">
              <input type="checkbox" />
              <span class="label-text">
                <span class="selector"></span>
              체크박스
              </span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="component-body">
      <h3 class="component-sub-title">- 라디오버튼</h3>
      <ul class="component-sub-text"></ul>
      <div class="component-result">
        <div class="selector-wrapper">
          <div class="selector-cover radio">
            <label class="label">
              <input type="radio" name="radio01" />
              <span class="label-text">
                <span class="selector"></span>
              라디오버튼
              </span>
            </label>
          </div>
          <div class="selector-cover radio">
            <label class="label">
              <input type="radio" name="radio01" />
              <span class="label-text">
                <span class="selector"></span>
              라디오버튼
              </span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="component-body">
      <h3 class="component-sub-title">- 가로형</h3>
      <ul class="component-sub-text">
        <li><span class="font-class">.horizontal</span> 클래스를 추가하면 가로형이 됩니다.</li>
      </ul>
      <div class="component-result">
        <div class="selector-wrapper horizontal">
          <div class="selector-cover checkbox">
            <label class="label">
              <input type="checkbox" />
              <span class="label-text">
                <span class="selector"></span>
              체크박스
              </span>
            </label>
          </div>
          <div class="selector-cover checkbox">
            <label class="label">
              <input type="checkbox" />
              <span class="label-text">
                <span class="selector"></span>
              체크박스
              </span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="component-body">
      <h3 class="component-sub-title">- 라벨없음</h3>
      <ul class="component-sub-text">
        <li>라벨이 없는 경우 <span class="font-class">.solo</span> 클래스를 추가하면 됩니다.</li>
        <li>라벨이 없어도 label 태그는 존재해야 합니다.</li>
      </ul>
      <div class="component-result">
        <div class="selector-wrapper">
          <div class="selector-cover checkbox solo">
            <label class="label">
              <input type="checkbox" />
              <span class="label-text">
                <span class="selector"></span>
              </span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="component-body">
      <h3 class="component-sub-title">- 버튼형 체크&라디오</h3>
      <ul class="component-sub-text">
        <li>버튼형의 체크&라디오 입니다</li>
      </ul>
      <div class="component-result">
        <div class="selector-wrapper horizontal">
          <label class="form-btn-selector"><input type="checkbox" name="checkbox01" checked="" /><span class="label">체크박스1</span> </label>
          <label class="form-btn-selector"><input type="checkbox" name="checkbox02" checked="" /><span class="label">체크박스2</span> </label>
        </div>
        <br />
        <div class="selector-wrapper horizontal">
          <label class="form-btn-selector"><input type="radio" name="radio01" checked="" /><span class="label">라디오1</span> </label>
          <label class="form-btn-selector"><input type="radio" name="radio01" checked="" /><span class="label">라디오2</span> </label>
        </div>
        <br />
        <div class="selector-wrapper horizontal">
          <label class="form-btn-selector size-auto"><input type="checkbox" name="checkbox02" checked="" /><span class="label">사이즈 auto 일경우</span> </label>
          <label class="form-btn-selector size-auto"><input type="checkbox" name="checkbox02" checked="" /><span class="label">auto</span> </label>
        </div>
      </div>
    </div>
  </div>
</div>