<div class="component-content" id="componentSearch">
  <div class="component-item">
    <h2 class="component-title">검색</h2>
    <div class="component-body">
      <ul class="component-sub-text">
        <li>검색</li>
      </ul>
      <div class="component-result">
        <div class="search-container">
          <select name="select" class="form-select small">
            <option value="">선택</option>
            <option value="옵션1">옵션1</option>
            <option value="옵션2">옵션2</option>
          </select>
          <select name="select" class="form-select small">
            <option value="">선택</option>
            <option value="옵션1">옵션1</option>
            <option value="옵션2">옵션2</option>
          </select>
          <select name="select" class="form-select small">
            <option value="">선택</option>
            <option value="옵션1">옵션1</option>
            <option value="옵션2">옵션2</option>
          </select>
          <select name="select" class="form-select small">
            <option value="">선택</option>
            <option value="옵션1">옵션1</option>
            <option value="옵션2">옵션2</option>
          </select>
          <input type="text" class="form-input sm" autocomplete="off" />
          <button type="button" class="btn small primary">검색</button>
        </div>
        <br />
        <br />

        <div class="search-container between">
          <div class="search-item">
            <select name="select" class="form-select small">
              <option value="">선택</option>
              <option value="옵션1">옵션1</option>
              <option value="옵션2">옵션2</option>
            </select>
            <select name="select" class="form-select small">
              <option value="">선택</option>
              <option value="옵션1">옵션1</option>
              <option value="옵션2">옵션2</option>
            </select>
          </div>
          <div class="search-item">
            <select name="select" class="form-select small">
              <option value="">선택</option>
              <option value="옵션1">옵션1</option>
              <option value="옵션2">옵션2</option>
            </select>
            <input type="text" class="form-input sm" autocomplete="off" />
            <button type="button" class="btn small primary">검색</button>
          </div>
        </div>
        <br />
        <br />
        <div class="search-container between">
          <div class="search-item"></div>
          <div class="search-item">
            <select name="select" class="form-select small">
              <option value="">선택</option>
              <option value="옵션1">옵션1</option>
              <option value="옵션2">옵션2</option>
            </select>
            <select name="select" class="form-select small">
              <option value="">선택</option>
              <option value="옵션1">옵션1</option>
              <option value="옵션2">옵션2</option>
            </select>
            <input type="text" class="form-input sm" autocomplete="off" />
            <button type="button" class="btn small primary">검색</button>
          </div>
        </div>
        <br />
        <br />
        <div class="search-container center">
          <div class="search-item"></div>
          <div class="search-item">
            <select name="select" class="form-select small">
              <option value="">선택</option>
              <option value="옵션1">옵션1</option>
              <option value="옵션2">옵션2</option>
            </select>
            <select name="select" class="form-select small">
              <option value="">선택</option>
              <option value="옵션1">옵션1</option>
              <option value="옵션2">옵션2</option>
            </select>
            <input type="text" class="form-input sm" autocomplete="off" />
            <button type="button" class="btn small primary">검색</button>
          </div>
        </div>
        <br />

        <div class="common-search-container">
          <select name="select" class="form-select small">
            <option value="">선택</option>
            <option value="옵션1">옵션1</option>
            <option value="옵션2">옵션2</option>
          </select>
          <select name="select" class="form-select small">
            <option value="">선택</option>
            <option value="옵션1">옵션1</option>
            <option value="옵션2">옵션2</option>
          </select>
          <div class="search-box">
            <div class="input-cover">
              <div class="input-wrapper">
                <input type="email" title="" class="form-input" autocomplete="off" placeholder="알림 내용 검색" />
              </div>
            </div>
            <button type="button" class="btn-search">검색</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>