<div class="component-content" id="componentSelectBox">
  <div class="component-item">
    <h2 class="component-title">셀렉트박스(드롭다운)</h2>
    <div class="component-body">
      <h3 class="component-sub-title">- 일반</h3>
      <ul class="component-sub-text">
        <li>일반적인 select박스 입니다.</li>
        <li>사이즈 : small / medium / large / full</li>
      </ul>
      <div class="component-result">
        <div class="form-example">
          <select name="select" class="form-select small">
            <option value="">선택</option>
            <option value="옵션1">옵션1</option>
            <option value="옵션2">옵션2</option>
          </select>
          <br />
          <select name="select" class="form-select medium">
            <option value="">선택</option>
            <option value="옵션1">옵션1</option>
            <option value="옵션2">옵션2</option>
          </select>
          <br />
          <select name="select" class="form-select large">
            <option value="">선택</option>
            <option value="옵션1">옵션1</option>
            <option value="옵션2">옵션2</option>
          </select>
          <br />
          <select name="select" class="form-select medium full">
            <option value="">선택</option>
            <option value="옵션1">옵션1</option>
            <option value="옵션2">옵션2</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>