<div class="component-content" id="componentTable">
  <div class="component-item">
    <h2 class="component-title">테이블</h2>
    <div class="component-body">
      <ul class="component-sub-text">
        <li>일반적인 테이블 형태 구조입니다.</li>
        <li><span class="font-class">.center</span>클래스를 추가하면 텍스트 가운데 정렬을 할수 있습니다.</li>
      </ul>
      <div class="component-result">
        <div class="table-info">
          <div class="el">
            <div class="total">총 <strong>999</strong>건</div>
          </div>
          <div class="el">
            <select name="select" class="form-select small">
              <option value="20">20개 더보기</option>
              <option value="30">30개 더보기</option>
            </select>
          </div>
        </div>
        <div class="data-table">
          <div class="table-inner">
            <table>
              <caption>
                테이블제목
              </caption>
              <thead>
                <tr>
                  <th class="size-index">No.</th>
                  <th class="size-title">제목</th>
                  <th class="size-date">등록일시</th>
                  <th>제목</th>
                  <th>제목</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td><a href="javascript:void(0);">제목입니다.제목입니다.제목입니다.제목입니다.제목입니다.제목입니다.</a></td>
                  <td>2023.07.23 15:30</td>
                  <td>내용</td>
                  <td>내용</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td><a href="javascript:void(0);">제목입니다.제목입니다.제목입니다.제목입니다.제목입니다.제목입니다.</a></td>
                  <td>2023.07.23 15:30</td>
                  <td>내용</td>
                  <td>내용</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>