<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport"  content="width=device-width, initial-scale=1.0, user-scalable=no, height=device-height, maximum-scale=1.0" />
  <meta name="title" content="" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta property="og:title" content="" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="" />
  <meta property="og:image" content="" />
  <link rel="icon" href="../../../resources/images/favicon.ico" />
  <link rel="stylesheet" href="../../../resources/plugins/swiper/swiper-bundle.min.css" />
  <link rel="stylesheet" href="../../../resources/plugins/datepicker/jquery-ui.css" />
  <link rel="stylesheet" href="../../../resources/plugins/datepicker/tui-time-picker.css" />
  <link rel="stylesheet" href="../../../resources/plugins/datepicker/tui-date-picker.css" />
  <link rel="stylesheet" href="../../../resources/plugins/dropzone/dropzone.min.css"  />
  <link rel="stylesheet" href="../../../resources/plugins/cropper/cropper.css" />
  <link rel="stylesheet" href="../../../resources/plugins/froala/froala_editor.pkgd.min.css" />
  <link rel="stylesheet" href="../../../resources/css/style.css" />
  <script src="../../../resources/plugins/jquery-3.7.1.min.js"></script>
  <script src="../../../resources/plugins/swiper/swiper-bundle.min.js"></script>
  <script src="../../../resources/plugins/datepicker/jquery-ui.js"></script>
  <script src="../../../resources/plugins/datepicker/tui-time-picker.js"></script>
  <script src="../../../resources/plugins/datepicker/tui-date-picker.js"></script>
  <script src="../../../resources/plugins/gsap/gsap.min.js"></script>
  <script src="../../../resources/plugins/fontawesome/fontawesome.js"></script>
  <script src="../../../resources/plugins/dropzone/dropzone.min.js"></script>
  <script src="../../../resources/plugins/cropper/cropper.js"></script>
  <script src="../../../resources/plugins/froala/froala_editor.pkgd.min.js"></script>
  <script src="../../../resources/js/common-ui.js"></script>
  <script src="../../../resources/js/base.js"></script>
  <script src="../../../resources/js/authorize.js"></script>
  <title>관리자</title>

</head>

<body onload="showAlertMessage()">
  <div id="container">
    <!-- 컨텐츠 -->
    <div class="login-page-content">
      <div class="logo">
        <a href="../dashboard/index.html">
          <img src="../../../resources/images/layout/img-univ-logo.svg" alt="UNIV 20" />
        </a>
      </div>
      <div class="content-container">
        <div class="section-inner">
          <div class="title-area">
            <h2 class="title">Univ20</h2>
            <div class="label">관리자</div>
            <div class="form-guide-text warning mt20" id="change-password-alert-message">
                비밀번호를 180일간 변경하지 않았습니다.<br />
                개인정보보호를 위해 비밀번호를 변경해주세요
            </div>
          </div>
          <div class="form-layout">
            <div class="form-asset-container">
              <div class="form-asset">
                <label for="password01" class="form-label">기존 비밀번호</label>
                <div class="form-field">
                  <div class="input-cover float right-space small type-change">
                    <!-- label의 for값과 input id값이 동일해야합니다. -->
                    <div class="cover-inner">
                      <input type="password" id="password01"  title="기존 비밀번호" class="form-input input-active" autocomplete="off" />
                      <span class="etc-right">
                          <button type="button" class="btn-type-change">비밀번호 보기/감추기</button>
                        </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-asset">
                <label for="password02" class="form-label">변경 비밀번호</label>
                <div class="form-field">
                  <div class="input-cover float right-space small type-change">
                    <!-- label의 for값과 input id값이 동일해야합니다. -->
                    <div class="cover-inner">
                      <input type="password" id="password02"  title="변경 비밀번호" class="form-input input-active" autocomplete="off" />
                      <span class="etc-right">
                          <button type="button" class="btn-type-change">비밀번호 보기/감추기</button>
                        </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-asset">
                <label for="password03" class="form-label">변경 비밀번호 확인</label>
                <div class="form-field">
                  <div class="input-cover float right-space small type-change">
                    <!-- label의 for값과 input id값이 동일해야합니다. -->
                    <div class="cover-inner">
                      <input type="password" id="password03"  title="변경 비밀번호 확인" class="form-input input-active" autocomplete="off" />
                      <span class="etc-right">
                          <button type="button" class="btn-type-change">비밀번호 보기/감추기</button>
                        </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-guide-text">
                ※ 비밀번호는 8자 이상으로 영문, 숫자, 특수 문자를 조합하여 사용해주세요.<br />

                  ※ 이메일(아이디), 휴대폰 번호 정보와 유사한 비밀번호는 사용할 수 없습니다.<br />

                  ※ 직전의 비밀번호는 사용할 수 없습니다.<br />

                  ※ 같은 문자가 3회 이상 반복될 수 없습니다.
                </div>
              <button type="button" class="btn large primary full round btn-submit" onclick="changePassword()">변경 완료</button>
            </div>
            <div class="page-footer">
              <div class="item">COPYRIGHT© SK. ALL RIGHTS RESERVED.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- //컨텐츠 -->

    <!-- 비밀번호초기화 팝업 -->
  </div>

  <!-- alert 팝업 -->
  <div class="layer-popup full-scroll system-popup" id="loginAlertPopup">
    <div class="popup-container small">
      <div class="popup-content">
        <button type="button" class="btn-popup-close popup-close">닫기</button>
        <div class="popup-inner">
          <div class="popup-common-title" id="loginAlertMessage">
            <strong>제목입니다.</strong>
          </div>
          <!-- <div class="popup-common-text">서브텍스트입니다.</div> -->
        </div>
      </div>
      <div class="popup-footer">
        <div class="btn-group">
          <button type="button" class="btn btn-ok popup-close" id="alert-OK">확인</button>
        </div>
      </div>
    </div>
  </div>
  <script>
    //key up
    //한글 입력 x 
     $("#password02").keyup(function(event){ 
      if (!(event.keyCode >=37 && event.keyCode<=40)) { 
        var inputVal = $(this).val(); 
        var check = /[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]/; 
        if(check.test(inputVal)){ 
          document.getElementById("loginAlertMessage").innerHTML = "<strong>영문,숫자,특수문자만 가능합니다.</strong>";
          location.href= "javascript:layerPopup.openPopup('loginAlertPopup', true);";
          document.getElementById("password02").value ="";
        } 
      } 
    });      
  </script>
</body>

</html>